<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.beguileai.app">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="whisperfire"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
    ...
